<!DOCTYPE html>
<head>
<title>
    This is an example express page.
</title>
<link rel="stylesheet" href="./styles.css">
<script rel="text/javascript" src="./index.js"></script>
</head>
<body>
      {{>header}}
    
       <hr/>
    <img src="./header.jpg">



<table>
<tr>
<th>{{title}}</th>
</tr>
<tr>
<td id="col">{{name}}</td>
<tr>
<td id ='col'>{{occupation}}</td>
</tr>
</tr>
</table>


{{>footer}}
       
</body>


</html>