<!DOCTYPE html>

<head>
   <title>
      This is an example express page.
   </title>
   <link rel="stylesheet" href="./styles.css">
   {{!-- <script rel="text/javascript" src="./index.js"></script> --}}
</head>

<body>
    <div class="main">
        {{>header}}
        <span id="notify"></span>

   <div>
  {{#if category}}
    <h3>Cart Items:</h3>
    <p>You have a total of {{category.length}} in your cart.</p>
  {{/if}}
</div>
   <hr />
   {{!-- <img src="./header.jpg"> --}}



   <table id="table">
      <tr>
         <th>{{title}}</th>
      </tr>
      <tr>
            <td id="col">{{message}}</td>
      <tr>
         <td id='col'>{{sess}}</td>
      </tr>
      </tr>
   </table>


   {{>footer}}

</body>


</html>