{{!-- <!DOCTYPE html> --}}

<head>
    <title>
        This is an example express page.
    </title>

    <link rel="stylesheet" href="./styles.css">

    <script rel="text/javascript" src="./index.js"></script>

</head>

<body>
    <div class="main">
        {{>header}}
        <span id="notify"></span>

    </div>
    <table id="table">
        <tr>
            <th>{{title}}</th>
        </tr>
        <tr>
            <td id="col">{{message}}</td>
        </tr>
    </table>
    <hr />

    <img class="images" id="cartId-1" src="strawberry2.jpg" alt="a strawberry close-up" name="Strawberry" />
    <img class="images" id="cartId-2" src="pineapple2.jpg" alt="a pineapple close-up" name="Pineapple" />


    <div id="wrapper">
     <button id="addAll" type="submit">Add All to Cart</button>
     {{#if sess.itemsInCart}}
     <button id="removeAll" type="submit">Remove All from Cart</button>
     {{/if}}
     {{!-- If the cart has an item in it - show a button next to the Add All To Cart button which says Remove All Items. --}}
    </div>

    {{>footer}}
</body>
<script>

</script>

</html>